
#profile-photo {
    width: 3em;
    height: 3em;
    margin: 0%;
}

#post {
    width: 100%;

}

body {
    background-color: #202228;
    margin:0%;
    padding: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 13vh;
    background-color: #202228;
    color: #f0f8ff;
    align-items: center;
    padding-left: 15vh;
    padding-right: 15vh;
    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 !important;
}

.logo {
    color: #FD7E14;
    display: flex;
    align-items: center;
    text-decoration: none;
}


.logo:hover {
    color: #f0f8ff;
    display: flex;
    align-items: center;
}

.logo-img {
    display: flex;
    max-width: 20%;
    max-height: 20%;
    
}

.logo-title {
    display: flex;
    font-family: "Josefin Sans", serif;
    align-items: center;
    text-align: center;
    margin-top: 0.2em;
   
}


.navbar-item{
    height: 100%;
    margin: 0%;
    margin-left: 0.7em;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.navbar-item:hover {
    background-color: #121317; 
}

.navbar-item-arrow {
    display: flex;
    width: 20%;
    height: 20%;
    color: #f0f8ff;
    align-items: center;
    cursor: pointer;
    position: relative;
    margin-left: 0.3em;
}



.navbar-subitem {
    display: none;
    position: absolute;
    top: 100%;
    width: 11em;
    align-items: center;
    padding-left: 0%;
}

.navbar-subitem li{
    display: flex;
    align-items: center;
    padding: 0.7em;
    height: 3em;
}

.profile-subitem {
    display: flex;
    align-items: center;
    padding-left: 0.7em;
    gap: 0.5em; 
}
.profile-photo {
    width: 3em;
    height: 3em;
}

.name {
    margin: 0%;
}

.navbar-item.active .navbar-subitem {
    display: block;
    background-color: #121317;}

.navbar-subitem li:hover {
    background-color: #FD7E14; 
}

.carrousel {
    position: relative;

}

#post-book {
    width: 100%;
    z-index: -1;
    position: absolute;
}

.description-book {
    z-index: 0;
    position: relative;
    color: #f0f8ff;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 10%;
}

.access-book {
    z-index: 0;
    position: relative;
    padding-left: 20vh;
    margin-top: 3em;
}

.arrow {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0%;
    right: 0%;
}

.arrow img {
    cursor: pointer;
}

#allBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye las tarjetas equitativamente */
    gap: 10px; /* Espaciado entre tarjetas */
    max-width: 80vw; /* Para que no ocupe toda la pantalla */
    margin: auto; /* Centrar en la página */
}

